# PlatformIO (Dossier de 233 Mo)
.pio/
.vscode/

# Python (Dossier de 200 Mo)
tts_env/
__pycache__/
*.pyc

# Modèles IA et Poids (60 Mo+)
*.onnx
onnx/
models/

# Médias lourds
*.bmp
*.mp4
temp_audio/
