# PlatformIO
**/.pio/
**/.vscode/

# Python
**/*.pyc
**/__pycache__/
.venv/
tts_env/

# Modèles IA et Poids (Large files > 10MB)
**/models/
**/*.gguf
**/*.onnx
**/*.bin
**/*.pt
backend/piper/

# Médias lourds et fichiers de build
**/*.mp4
**/*.elf
**/*.map
**/*.a
**/*.o
**/*.d

# Divers
.aider*
.env
